*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
}

/*Header*/

.header {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 35rem;
  border-bottom: 0.2rem solid #adb5bd;
  background-color: #fff;
  z-index: 10;
}

.main-logo {
  height: 6rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: #868e96;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active {
  transform: translateY(-5px);
  color: #4dabf7;
}

/*Hero Section*/
.hero-section {
  display: flex;
  align-items: center;
  margin: 8rem 35rem;
  height: 90vh;
}

.introduce div {
  overflow: hidden;
  margin-left: 10rem;
}

.introduce h1 {
  font-size: 12rem;
  font-style: italic;
  font-weight: 700;
  color: #212529;
}

.introduce h2 {
  margin-top: -5rem;
  font-size: 16rem;
  font-style: italic;
  font-weight: 700;
  color: #212529;
}

.introduce h1 span,
.introduce h2 span {
  opacity: 0;
  display: inline-block;
  animation: slideUp 0.75s ease-in-out forwards;
}

.introduce h1 span:first-child {
  animation-delay: 0.5s;
}

.introduce h1 span:last-child {
  animation-delay: 0.7s;
}

.introduce h2 span:first-child {
  animation-delay: 0.9s;
}

.introduce h2 span:last-child {
  animation-delay: 1.1s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(12rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/* About-section */

.about-section {
  margin: 10rem 35rem;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-icon {
  height: 7rem;
}

.section-title {
  color: #343a40;
  font-size: 3.2rem;
}

.about-container {
  display: flex;
  gap: 8.5rem;
  margin: 3.5rem 0;
}

.about-story,
.about-studied {
  width: 50%;
}

.about-title {
  color: #495057;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.story p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.studied-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.smaller {
  color: #868e96;
  font-size: 1.4rem;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.skill-container > div {
  padding: 3rem;
  border: 1px solid #ced4da;
  border-radius: 2rem;
}

.skill-container > div > p {
  height: 12rem;
  margin-bottom: 1rem;
}

.skill-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.skill-logo-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.skill-logo-box img {
  height: 3rem;
}

/*Contact Section*/

.contact-section {
  margin: 25rem 35rem;
}

.social-link-container,
.social-link {
  display: flex;
  justify-content: center;
}

.social-link-container {
  margin-top: 5rem;
  gap: 5rem;
}

.social-link:link,
.social-link:visited {
  color: #212529;
  border: 1px solid #343a40;
  border-radius: 50%;
  transition: all 0.4s;
}

.social-link:hover,
.social-link:active {
  color: #fff;
  background-color: #212529;
}

ion-icon {
  font-size: 3rem;
  padding: 1.5rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.contact-container h2 {
  color: #212529;
  font-size: 8rem;
  text-align: center;
}

.contact-container button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  font-size: 2.4rem;
  border: 1px solid #000;
  border-radius: 100rem;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.contact-container button:hover {
  color: #4dabf7;
}

.contact-container button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #061627;
  z-index: -1;
  transition: all 0.5s;
}

.contact-container button:hover::before {
  height: 100%;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 15;
}

.contact-form-container {
  display: none;
  background-color: #fff;
  width: 75rem;
  padding: 3.5rem 5rem;
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.contact-form-container h2 {
  color: #343a40;
  font-size: 3.8rem;
  text-align: center;
}

form {
  width: 100%;
  margin: 3rem auto 0 auto;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
  margin-bottom: 2rem;
}

.textarea {
  grid-column: 1/-1;
}

label {
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid #868e96;
  border-radius: 10px;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #4dabf7;
}

.submit {
  border: none;
  font-size: 1.8rem;
  color: #fff;
  background-color: #71a9f7;
  padding: 1.5rem 5rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.submit:hover,
.submit:active {
  transform: translateY(-5px);
  background-color: #1c7ed6;
}

.close-form {
  font-size: 5rem;
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  cursor: pointer;
}
